<div class="card mb-5 mb-xl-10">
  <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse"
    data-bs-target="#kt_account_signin_method">
    <div class="card-title m-0">
      <h3 class="fw-bolder m-0">Change password</h3>
    </div>
  </div>
  <div id="kt_account_signin_method" class="collapse show">
    <div class="card-body border-top p-9">

      <div class="d-flex flex-wrap align-items-center mb-10">
        <div id="kt_signin_password_edit" class="flex-row-fluid false">
          <form action="#" id="kt_signin_change_password" class="form" [formGroup]="changePasswordForm"
            autocomplete="off">
            <div class="row mb-1">
              <div class="col-lg-4">
                <div class="fv-row mb-0">
                  <label for="currentpassword" class="form-label fs-6 fw-bolder mb-3">Current Password</label><input
                    type="password" class="form-control form-control-lg form-control-solid" id="currentpassword"
                    name="oldPassword" formControlName="oldPassword" />
                </div>
              </div>
              <div class="col-lg-4">
                <div class="fv-row mb-0">
                  <label for="newpassword" class="form-label fs-6 fw-bolder mb-3">New Password</label><input
                    type="password" class="form-control form-control-lg form-control-solid" id="newpassword"
                    name="password" [class.is-invalid]="isControlInvalid('password')" formControlName="password" />
                  <div class="invalid-feedback" *ngIf="controlHasError('required', 'password')">Password is
                    required</div>
                  <div class="invalid-feedback" *ngIf="controlHasError('pattern', 'password')">Password requires
                    at least 5 characters in length includes at least one letter, one number and one special character
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="fv-row mb-0">
                  <label for="confirmpassword" class="form-label fs-6 fw-bolder mb-3">Confirm New Password</label><input
                    type="password" class="form-control form-control-lg form-control-solid" id="confirmpassword"
                    name="cPassword" [class.is-invalid]="isControlInvalid('cPassword')"
                    [class.is-valid]="isControlValid('cPassword')" formControlName="cPassword" />
                  <div class="valid-feedback" *ngIf="isControlValid('cPassword')">Confirm Password was entered
                    correct</div>
                  <div class="invalid-feedback" *ngIf="controlHasError('required', 'cPassword')">Confirm Password
                    is required</div>
                  <div class="invalid-feedback" *ngIf="controlHasError('ConfirmPassword', 'cPassword')">Confirm
                    Password don't match</div>
                </div>
              </div>
            </div>
            <div class="d-flex my-5">
              <button id="kt_password_submit" type="button" class="btn btn-primary me-2 px-6" (click)="savePassword()">
                <ng-container *ngIf="!isLoading">Update Password</ng-container>
                <ng-container *ngIf="isLoading">
                  <span class="indicator-progress" [style.display]="'block'">
                    Please wait...
                    <span class="
                        spinner-border spinner-border-sm
                        align-middle
                        ms-2
                      "></span>
                  </span>
                </ng-container></button><button id="kt_password_cancel" type="button"
                class="btn btn-color-gray-500 btn-active-light-primary px-6" (click)="reset()">
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>