<div
  id="kt_drawer_chat"
  class="bg-body"
  data-kt-drawer="true"
  data-kt-drawer-name="chat"
  data-kt-drawer-activate="true"
  data-kt-drawer-overlay="true"
  data-kt-drawer-width="{default:'300px', 'md': '500px'}"
  data-kt-drawer-direction="end"
  data-kt-drawer-toggle="#kt_drawer_chat_toggle"
  data-kt-drawer-close="#kt_drawer_chat_close"
>
  <!-- Conversation List View -->
  <div *ngIf="showConversationList" class="card w-100 rounded-0 h-100">
    <app-conversation-list
      (onSelectConversation)="onSelectConversation($event)"
      (onNewConversation)="onNewConversation()"
    ></app-conversation-list>
  </div>

  <!-- Message View -->
  <div *ngIf="!showConversationList" class="card w-100 rounded-0 h-100">
    <app-chatbot-message
      (onBack)="onBackToList()"
    ></app-chatbot-message>
  </div>
</div>
