<div class="card mb-5 mb-xl-10">
  <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse"
    data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
    <div class="card-title m-0">
      <h3 class="fw-bolder m-0">Profile Details</h3>
    </div>
  </div>
  <div id="kt_account_profile_details" class="collapse show">
    <form action="#" novalidate="" class="form" [formGroup]="formGroup" autocomplete="off">
      <div class="card-body border-top p-9">
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6">Avatar</label>
          <div class="col-lg-8">
            <div class="image-input image-input-outline" data-kt-image-input="true"
              [style.background-image]="'url(./assets/media/avatars/blank.png'">
              <div class="image-input-wrapper w-125px h-125px" [style.background-image]="
                  'url(./assets/media/avatars/300-1.jpg'
                "></div>
            </div>
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6">Full Name</label>
          <div class="col-lg-8">
            <div class="row">
              <div class="col-lg-6 fv-row">
                <input type="text" class="
                    form-control form-control-lg form-control-solid
                    mb-3 mb-lg-0
                  " placeholder="First name" name="first_name" [class.is-invalid]="isControlInvalid('first_name')"
                  formControlName="first_name" />
                <div class="valid-feedback" *ngIf="isControlValid('first_name')">First name was entered correct
                </div>
                <div class="invalid-feedback" *ngIf="controlHasError('required', 'first_name')">First name is
                  required</div>
                <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'first_name')">First name
                  should have
                  maximum 100 symbols</div>
              </div>
              <div class="col-lg-6 fv-row">
                <input type="text" class="form-control form-control-lg form-control-solid" placeholder="Last name"
                  name="last_name" [class.is-invalid]="isControlInvalid('last_name')" formControlName="last_name" />
                <div class="valid-feedback" *ngIf="isControlValid('last_name')">Last name was entered correct
                </div>
                <div class="invalid-feedback" *ngIf="controlHasError('required', 'last_name')">Last name is
                  required</div>
                <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'last_name')">Last name should
                  have maximum
                  100 symbols</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6">Email</label>
          <div class="col-lg-8 fv-row">
            <input type="email" class="form-control form-control-lg form-control-solid" placeholder="Email" name="email"
              autocomplete="nope" [class.is-invalid]="isControlInvalid('email')" formControlName="email" />
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'email')">Email is required
            </div>
            <div class="invalid-feedback" *ngIf="controlHasError('email', 'email')">Email format is
              incorrect</div>
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6">Institution</label>
          <div class="col-lg-8 fv-row">
            <input type="text" class="form-control form-control-lg form-control-solid" placeholder="Institution"
              name="institution" formControlName="institution" />
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6">Phone Number</label>
          <div class="col-lg-8 fv-row">
            <input type="text" class="form-control form-control-lg form-control-solid" placeholder="Institution"
              mask='000-000-0000' placeholder="000-000-0000" autocomplete="off"
              [class.is-invalid]="isControlInvalid('phone_number')"
              formControlName="phone_number" name="phone_number" />
            <div class="invalid-feedback" *ngIf="controlHasError('pattern', 'phone_number')">Phone Number
              must be number</div>
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6">Address</label>
          <div class="col-lg-8 fv-row">
            <input type="text" class="form-control form-control-lg form-control-solid" placeholder="Address"
              name="address" formControlName="address" />
          </div>
        </div>
      </div>
      <div class="card-footer d-flex justify-content-end py-6 px-9">
        <button type="button" class="btn btn-primary" [disabled]="isLoading" (click)="saveSettings()">
          <ng-container *ngIf="!isLoading">Save Changes</ng-container>
          <ng-container *ngIf="isLoading">
            <span clas="indicator-progress" [style.display]="'block'">
              Please wait...{{ " " }}
              <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
            </span>
          </ng-container>
        </button>
      </div>
    </form>
  </div>
</div>