<div class="main-wrapper row">
    <div class="col-2 side-bar">

        <button type="button" (click)="chooseReport(0)" class="btn btn-sm btn-light-primary">
            <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr075.svg'" class="svg-icon svg-icon-3"></span>
            New Report
        </button>

        <div class="mt-5">
            <p class="fs-4">My Reports:</p>
            <div class="list-group list-group-light">
                <div *ngFor="let report of reports" 
                     class="list-group-item list-group-item-action px-3 border-0 d-flex justify-content-between align-items-center" 
                     [ngClass]="getActiveClassReport(report.id)"
                     style="cursor: pointer;"
                     (click)="chooseReport(report.id)">
                    <span class="text-truncate me-2">{{ report.report_name }}</span>
                    <button class="btn btn-icon btn-active-light-danger btn-sm w-25px h-25px flex-shrink-0" (click)="deleteReport(report); $event.stopPropagation()" title="Delete Report">
                        <span [inlineSVG]="'./assets/media/icons/duotune/general/gen027.svg'" class="svg-icon svg-icon-3"></span>
                    </button>
                </div>
              </div>
        </div>
    </div>
    <div class="col-10">

        <div *ngIf="reportId == 0" class="table-responsive">
            <table class="table table-borderless table-vertical-center" style="table-layout: fixed;">
                <thead>
                    <tr>
                        <th class="p-0" style="width: 10%"></th>
                        <th class="p-0 min-w-140px"></th>
                    </tr>
                </thead>
                <tbody style="word-break: break-all;">
                    <tr>
                        <td class="pl-0 text-right" style="vertical-align: middle;">
                            <div class="text-dark mb-1" style="font-weight: 800; font-size: 1rem;">Name</div>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="text" [(ngModel)]="reportName" class="form-control" name="reportName" placeholder="Name" />
                                    <small class="form-text text-muted"><b>Enter</b> report's name</small>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex">
                                        <input type="text" [(ngModel)]="pubmedSearchQuery" class="form-control me-2" name="pubmedSearch" placeholder="Search PubMed reports" (keyup.enter)="searchPubmed()" />
                                        <button type="button" class="btn btn-primary" style="white-space: nowrap;" (click)="searchPubmed()">Search</button>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <!-- Pubmed Results Table -->
                    <tr *ngIf="pubmedResults && pubmedResults.length > 0">
                        <td class="pl-0 text-right mt-3" style="vertical-align: top;">
                            <div class="text-dark mb-1" style="font-weight: 800; font-size: 1rem;">References</div>
                        </td>
                        <td>
                            <div class="table-responsive" style="max-height: 300px; overflow-y: auto; border: 1px solid #e4e6ef; border-radius: 0.475rem;">
                                <table class="table table-row-dashed align-middle gs-0 gy-4 mb-0">
                                    <thead class="sticky-top" style="background: #1b85ff; z-index: 1;">
                                        <tr class="fw-bolder" style="color: white !important;">
                                            <th class="min-w-50px ps-4">ID</th>
                                            <th class="min-w-200px">TITLE</th>
                                            <th class="min-w-150px">AUTHORS</th>
                                            <th class="min-w-100px pe-4">DATE</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let article of pubmedResults">
                                            <td class="ps-4">{{ article.id }}</td>
                                            <td>{{ article.title }}</td>
                                            <td>{{ article.authors }}</td>
                                            <td class="pe-4">{{ article.date }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="pl-0 text-right mt-3" style="vertical-align: top;">
                            <div class="text-dark mb-1" style="font-weight: 800; font-size: 1rem;">SNV / INDEL</div>
                        </td>
                        <td>
                            <!-- begin::Table container -->
                            <div class="table-responsive" style="width: 100%; max-height: 500px; overflow-y: auto; border: 1px solid #e4e6ef; border-radius: 0.475rem;">
                                <!-- begin::Table -->
                                <table class="table table-row-dashed align-middle gs-0 gy-4 table-variants-selected">
                                    <!-- begin::Table head -->
                                    <thead class="sticky-top" style="background: #1b85ff;">
                                        <tr class="fw-bolder" style="color: white !important;">
                                            <th class="w-25px ps-4" >
                                                <div class="
                                                    form-check form-check-sm form-check-custom form-check-solid padding-left-8px
                                                    ">
                                                    <input class="form-check-input" type="checkbox" value="1"
                                                        data-kt-check="true" data-kt-check-target=".widget-9-check"
                                                        (click)="grouping.selectAllRows()"
                                                        [checked]="grouping.checkAreAllRowsSelected()" />
                                                </div>
                                            </th>
                                            <th class="min-w-120px">Gene</th>
                                            <th class="min-w-120px">Transcript</th>
                                            <th class="min-w-120px">cDNA</th>
                                            <th class="min-w-120px">Coverage</th>
                                            <th class="min-w-120px">gAD(ALL, AFR, AMR)</th>
                                            <th class="min-w-120px">Classification</th>
                                            <th class="min-w-120px">ACTIONS</th>
                                        </tr>
                                    </thead>
                                    <!-- end::Table head -->
                                    <!-- begin::Table body -->
                                    <tbody>
                                        <div *ngIf="isLoading" class="spin-loading">
                                            <div style=" 
                                            position: fixed;
                                            top: 60%;
                                            left: 60%;
                                            z-index: 100;" class="spinner-border text-primary"></div>
                                        </div>
                                        <tr [hidden]="isLoading" *ngFor="let variant of variantSelected">
                                            <td class="ps-4">
                                                <div class="
                                                    form-check form-check-sm form-check-custom form-check-solid justify-content-center
                                                    ">
                                                    <input class="form-check-input widget-9-check" type="checkbox"
                                                        value="{{variant.id}}" (click)="grouping.selectRow(variant.id)"
                                                        [checked]="grouping.isRowSelected(variant.id)" />
                                                </div>
                                            </td>
                                            <td>
                                                <p class="text-gray-900 fw-bolder d-block fs-6"
                                                    style="margin-top: revert;">
                                                    {{ variant.gene }}
                                                </p>
                                            </td>
                                            <td>
                                                <p class="text-gray-900 fw-bolder d-block fs-6"
                                                    style="margin-top: revert;">
                                                    {{ variant.transcript_id }}
                                                </p>
                                            </td>
                                            <td>
                                                <p class="text-gray-900 fw-bolder d-block fs-6"
                                                    style="margin-top: revert;">
                                                    {{ variant.cnomen }}
                                                </p>
                                            </td>
                                            <td>
                                                <p class="text-gray-900 fw-bolder d-block fs-6"
                                                    style="margin-top: revert;">
                                                    {{ variant.coverage }}
                                                </p>
                                            </td>
                                            <td>
                                                <p class="text-gray-900 fw-bolder d-block fs-6"
                                                    style="margin-top: revert;">
                                                    <span>{{ variant.gnomad }}</span><br>
                                                    <span>{{ variant.gnomAD_AFR }}</span><br>
                                                    <span>{{ variant.gnomAD_AMR }}</span>
                                                </p>
                                            </td>
                                            <td>
                                                <p class="text-gray-900 fw-bolder d-block fs-6 "
                                                    style="margin-top: revert;">
                                                    <span [class]="getVariantClass(variant.classification)"
                                                        class="classification">
                                                        {{ variant.classification }}</span>
                                                </p>
                                            </td>
                                            <td>
                                                <a title="Delete workspace"
                                                    class="btn btn-icon btn-light btn-hover-danger btn-sm"
                                                    (click)="delete(variant)">
                                                    <span [inlineSVG]="
                                                        './assets/media/icons/duotune/general/gen027.svg'
                                                    " class="svg-icon svg-icon-3"></span>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <!-- end::Table body -->
                                </table>
                                <!-- end::Table -->
                            </div>
                            <!-- end::Table container -->
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                            <div style="width: fit-content;">
                                <button type="button" (click)="createReport()"
                                    class="btn btn-primary btn-fixed-height font-weight-bold px-2 px-lg-5 mr-2"
                                    [disabled]="isCreatingReport">
                                    <span *ngIf="!isCreatingReport" class="d-none d-md-inline">Create Report</span>
                                    <span *ngIf="isCreatingReport" class="indicator-progress" style="display: block;">
                                        Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                    </span>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="reportId != 0">
            <app-analysis-report-detail [id]="reportId"></app-analysis-report-detail>
        </div>

    </div>
</div>