<div class="card card-xxl-stretch mb-5 mb-xl-8">
  <!-- begin::Header -->
  <div class="card-header border-0 pt-5">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label fw-bolder fs-2 mb-1">Users List</span>
    </h3>
    <div class="card-toolbar" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover"
      title="Click to create a new user">
      <button (click)="newUser()" class="btn btn-sm btn-light-primary">
        <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr075.svg'" class="svg-icon svg-icon-3"></span>
        New User
      </button>
    </div>
  </div>
  <!-- end::Header -->
  <!-- begin::Body -->
  <div class="card-body py-3">

    <div class="form form-label-right mb-5">
      <div class="form-group row" [formGroup]="filterGroup">
        <div class="col-lg-3">
          <input type="text" class="form-control" name="searchText" placeholder="Search" value=""
            formControlName="searchTerm" /><small class="form-text text-muted"><b>Search</b> in Name and Email</small>
        </div>
        <div class="col-lg-3">
          <select class="form-control" placeholder="Filter by role" name="role" formControlName="role">
            <option value='' [selected]="true">All</option>
            <option value='admin'>Admin</option>
            <option value='user'>User</option>
          </select><small class="form-text text-muted"><b>Filter</b> by Role</small>
        </div>
        <div class="col-lg-3">
          <select class="form-control" placeholder="Filter by status" name="status" formControlName="status">
            <option value='' [selected]="true">All</option>
            <option value='active'>Active</option>
            <option value='deleted'>Deleted</option>
            <option value='disabled'>Disabled</option>
            <option value='pending'>Pending</option>
          </select><small class="form-text text-muted"><b>Filter</b> by Status</small>
        </div>
      </div>
    </div>

    <ng-container *ngIf="grouping.getSelectedRowsCount()">
      <div class="form">
        <div class="row align-items-center form-group-actions margin-top-20 margin-bottom-20">
          <div class="col-xl-12">
            <div class="form-group form-group-inline">
              <div class="form-label form-label-no-wrap">
                <label class="font-bold font-danger"><span>Selected records count:
                    <b>{{ grouping.getSelectedRowsCount() }}</b></span></label>
              </div>
              <div>
                <button type="button" class="btn btn-danger font-weight-bolder font-size-sm mr-1"
                  (click)="deleteSelected()">
                  <i class="fa fa-trash"></i> Delete All
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <app-paginator class="d-flex justify-content-between align-items-center flex-wrap" [paginator]="paginator"
      [isLoading]="isLoading" (paginate)="paginate($event)"></app-paginator>

    <!-- begin::Table container -->
    <div class="table-responsive">
      <!-- begin::Table -->
      <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
        <!-- begin::Table head -->
        <thead>
          <tr class="fw-bolder text-muted">
            <th class="w-25px">
              <div class="
                form-check form-check-sm form-check-custom form-check-solid
              ">
                <input class="form-check-input" type="checkbox" value="1" data-kt-check="true"
                  data-kt-check-target=".widget-9-check" (click)="grouping.selectAllRows()"
                  [checked]="grouping.checkAreAllRowsSelected()" />
              </div>
            </th>
            <th class="min-w-120px">ID</th>
            <th class="min-w-120px">NAME</th>
            <th class="min-w-120px">EMAIL</th>
            <th class="min-w-120px">ROLE</th>
            <th class="min-w-120px">STATUS</th>
            <th class="min-w-120px">CREATED AT</th>
            <th class="min-w-100px text-end">Actions</th>
          </tr>
        </thead>
        <!-- end::Table head -->
        <!-- begin::Table body -->
        <tbody>
          <tr *ngFor="let user of users">
            <td>
              <div class="
                form-check form-check-sm form-check-custom form-check-solid
              ">
                <input class="form-check-input widget-9-check" type="checkbox" value="{{user.id}}"
                  (click)="grouping.selectRow(user.id)" [checked]="grouping.isRowSelected(user.id)" />
              </div>
            </td>
            <td>
              <p class="text-gray-900 fw-bolder d-block fs-6" style="margin-top: revert;">
                {{ user.id }}
              </p>
            </td>
            <td>
              <p class="text-gray-900 fw-bolder d-block fs-6" style="margin-top: revert;">
                {{ user.name }}
              </p>
            </td>
            <td>
              <p class="text-gray-900 fw-bolder d-block fs-6" style="margin-top: revert;">
                {{ user.email }}
              </p>
            </td>
            <td>
              <span class="badge fs-6" [ngClass]="{
                'badge-light-primary': user.role === 'Admin',
                'badge-light-danger':  user.role === 'N/A' 
              }">
                {{ user.role }}
              </span>
            </td>
            <td>
              <span class="badge fs-6" [ngClass]="{
                'badge-light-success': user.status === 'Active',
                'badge-light-warning': user.status === 'Disabled',
                'badge-light-primary': user.status === 'Pending',
                'badge-light-danger': user.status === 'Deleted' || user.status === 'N/A' 
              }">
                {{ user.status }}
              </span>
            </td>
            <td>
              <p class="text-gray-900 fw-bolder d-block fs-6" style="margin-top: revert;">
                {{ user.createdAt }}
              </p>
            </td>
            <td>
              <div class="d-flex justify-content-end flex-shrink-0">
                <!-- <a href="#" class="
                  btn btn-icon btn-bg-light btn-active-color-primary btn-sm
                  me-1
                ">
                  <span [inlineSVG]="
                    './assets/media/icons/duotune/general/gen019.svg'
                  " class="svg-icon svg-icon-3"></span>
                </a> -->
                <button (click)="edit(user.id)" class="
                  btn btn-icon btn-bg-light btn-active-color-primary btn-sm
                  me-1
                ">
                  <span [inlineSVG]="'./assets/media/icons/duotune/art/art005.svg'" class="svg-icon svg-icon-3"></span>
                </button>
                <button (click)="delete(user.id)" class="
                  btn btn-icon btn-bg-light btn-active-color-primary btn-sm
                ">
                  <span [inlineSVG]="
                    './assets/media/icons/duotune/general/gen027.svg'
                  " class="svg-icon svg-icon-3"></span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
        <!-- end::Table body -->
      </table>
      <!-- end::Table -->
    </div>
    <!-- end::Table container -->

    <app-paginator class="d-flex justify-content-between align-items-center flex-wrap" [paginator]="paginator"
      [isLoading]="isLoading" (paginate)="paginate($event)"></app-paginator>
  </div>
  <!-- begin::Body -->
</div>