
<div class="container-fluid ">
  <!-- Loading overlay -->
  <div *ngIf="isLoading" class="d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100" style="background-color: rgba(255, 255, 255, 0.5); z-index: 10;">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <div class="row g-4">
    <div class="col-lg-4">
      <app-stats-widget2
        class="card card-xl-stretch mb-xl-8"
        [title]="'DASHBOARD.TOTAL_WORKSPACES' | translate"
        [description]="totalWorkspaces"
      ></app-stats-widget2>
    </div>
    <div class="col-lg-4">
      <app-stats-widget2
        class="card card-xl-stretch mb-xl-8"
        [title]="'DASHBOARD.TOTAL_ANALYSES' | translate"
        [description]="totalAnalyses"
      ></app-stats-widget2>
    </div>
    <div class="col-lg-4">
      <app-stats-widget2
        class="card card-xl-stretch mb-xl-8"
        [title]="'DASHBOARD.TOTAL_SAMPLES' | translate"
        [description]="totalSamples"
      ></app-stats-widget2>
    </div>
  </div>

  <div class="row g-4">
    <div class="col-lg-4">
        <app-charts-widget5 class="card" [chartType]="'pie'" [pieData]="analysesStatusData" [title]="'DASHBOARD.ANALYSES_STATUS' | translate" [subtitle]="'DASHBOARD.ANALYSES_STATUS_DESC' | translate"></app-charts-widget5>
    </div>
    <div class="col-lg-4">
        <app-charts-widget5 class="card" [chartType]="'pie'" [pieData]="sampleFileTypeData" [title]="'DASHBOARD.SAMPLES_FILE_TYPE' | translate" [subtitle]="'DASHBOARD.SAMPLES_FILE_TYPE_DESC' | translate"></app-charts-widget5>
    </div>
    <div class="col-lg-4">
        <app-charts-widget5 class="card" [chartType]="'pie'" [pieData]="sampleAssemblyData" [title]="'DASHBOARD.SAMPLES_ASSEMBLY' | translate" [subtitle]="'DASHBOARD.SAMPLES_ASSEMBLY_DESC' | translate"></app-charts-widget5>
    </div>
  </div>

  <div class="row g-4 mt-3">
    <div class="col-lg-6">
        <app-charts-widget5 class="card" [chartType]="'area'" [seriesData]="samplesCreatedData" [xAxisCategories]="lastSixMonths" [title]="'DASHBOARD.SAMPLES_CREATED' | translate" [subtitle]="'DASHBOARD.SAMPLES_CREATED_DESC' | translate"></app-charts-widget5>
    </div>
    <div class="col-lg-6">
        <app-charts-widget5 class="card" [chartType]="'area'" [seriesData]="analysesCreatedData" [xAxisCategories]="lastSixMonths" [title]="'DASHBOARD.ANALYSES_CREATED' | translate" [subtitle]="'DASHBOARD.ANALYSES_CREATED_DESC' | translate"></app-charts-widget5>
    </div>
  </div>

  <div class="row g-4 mt-3">
    <div class="col-lg-12">
        <app-lists-widget1
            class="card"
            [title]="'DASHBOARD.RECENT_ANALYSES' | translate"
            [subtitle]="'DASHBOARD.RECENT_ANALYSES_DESC' | translate"
            [items]="recentAnalyses"
        ></app-lists-widget1>
    </div>
  </div>
</div>
