
<div class="container-fluid">
  <div class="row g-4">
    <div class="col-lg-4">
      <app-stats-widget2
        class="card card-xl-stretch mb-xl-8"
        [title]="'Total Workspaces'"
        [description]="totalWorkspaces"
      ></app-stats-widget2>
    </div>
    <div class="col-lg-4">
      <app-stats-widget2
        class="card card-xl-stretch mb-xl-8"
        [title]="'Total Analyses'"
        [description]="totalAnalyses"
      ></app-stats-widget2>
    </div>
    <div class="col-lg-4">
      <app-stats-widget2
        class="card card-xl-stretch mb-xl-8"
        [title]="'Total Samples'"
        [description]="totalSamples"
      ></app-stats-widget2>
    </div>
  </div>

  <div class="row g-4">
    <div class="col-lg-4">
        <app-charts-widget5 class="card" [chartType]="'pie'" [pieData]="analysesStatusData" [title]="'Analyses Status'" [subtitle]="'Breakdown of analysis statuses'"></app-charts-widget5>
    </div>
    <div class="col-lg-4">
        <app-charts-widget5 class="card" [chartType]="'pie'" [pieData]="sampleFileTypeData" [title]="'Sample File Types'" [subtitle]="'Distribution of VCF and FASTQ files'"></app-charts-widget5>
    </div>
    <div class="col-lg-4">
        <app-charts-widget5 class="card" [chartType]="'pie'" [pieData]="sampleAssemblyData" [title]="'Sample Assemblies'" [subtitle]="'Distribution of hg19 and hg38 assemblies'"></app-charts-widget5>
    </div>
  </div>

  <div class="row g-4 mt-3">
    <div class="col-lg-6">
        <app-charts-widget5 class="card" [pieData]="samplesCreatedData" [title]="'Samples Created Over Time'" [subtitle]="'Number of samples created in the last 6 months'"></app-charts-widget5>
    </div>
    <div class="col-lg-6">
        <app-charts-widget5 class="card" [pieData]="analysesCreatedData" [title]="'Analyses Created Over Time'" [subtitle]="'Number of analyses created in the last 6 months'"></app-charts-widget5>
    </div>
  </div>

  <div class="row g-4 mt-3">
    <div class="col-lg-12">
        <app-lists-widget1
            class="card"
            [title]="'Recent analyses'"
            [subtitle]="'10 most recent analyses'"
            [items]="recentAnalyses"
        ></app-lists-widget1>
    </div>
  </div>
</div>
